<title>Update or delete keg</title>

<table border="1">
    <tbody>
    <tr>
        <th>Keg_id</th>
        <th>Keg_flow</th>

    </tr>

    <tr>

        <form action="/show_kegs/{{keg[0][0]}}/delete_update">
            <td>{{keg[0][0]}}</td>
            <td><input name="keg_flow" type="text" value={{keg[0][1]}}></td>

            <input value="Edit" type="submit" formmethod="POST">
            <input value="Delete" type="submit">
        </form>
    </tr>
    </tbody>

</table>
